@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h1>Sales System developed in C# .Net.</h1>
 Sales registration system developed in the course of C# COMPLETO Object Oriented Programming + 
 <br />Projects using technologies such as Linq, Entity Framework and .Net Core. With some
<br />improvements made by me for study purposes and preparation for the Labor Market.
<p> Lucas Silveira e-mail:
    <a href="mailto:@ViewData["email"]">Enviar e-mail</a>
</p>
